/*----------------INDEX.HTML-----------------*/

/*SPLASH-SECTION*/
video {
  position: absolute;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  filter: opacity(90%);
}

/*Splash-section skal fylde hele skærmen.*/
#splash_section {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.titel_container {
  position: absolute;
  left: 7%;
  top: 30%;
}

.titel_container img {
  width: 90%;
  height: 90%;
}

@media (min-width: 720px) {
  .titel_container {
    position: absolute;
    left: 20%;
    top: 15%;
  }

  .titel_container img {
    width: 70%;
    height: 70%;
  }

  /*SEKTION COLUMN_SECTION*/
  #column_section {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 1000px) 1fr;
  }

  .section_wrapper {
    margin-top: 3rem;
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
  .opgave {
    grid-column: 2;
  }
  #ommig {
    grid-column: 1 / 2 span;
  }

  #tema6 {
    grid-column: 1 / 2 span;
  }
}

/*Der skal være flex i section_wrapperen's indhold, for at jeg kan placere det i midten*/
#ommig,
#tema2,
#tema3,
#tema4,
#tema5,
#tema6 {
  display: flex;

  /*Indholdet placerets i midten HORISONTALT*/
  justify-content: center;

  /*Indholdet placerets i midten VERTIKALT*/
  align-items: center;
  min-block-size: 200px;
}

/*Mellem indholdet skal der være noget mellemrum, både ifm af gap og margin*/
.section_wrapper {
  margin-top: 1rem;
  margin-bottom: 3rem;
  gap: 5px;
  /*Jeg bliver nødt til at have grid, for at mit gap virker*/
  display: grid;
}

.cover {
  background-size: cover;
}

#ommig {
  background-image: url(ommig.webp);
}

#tema2 {
  background-image: url(tema2.webp);
}

#tema3 {
  background-image: url(tema3.webp);
}

#tema4 {
  background-image: url(tema4.webp);
}

#tema5 {
  background-image: url(kaffe.webp);
}

#tema6 {
  background-image: url(tema6.png);
}
