#asset h2,
.skaerme {
  margin-left: 2rem;
  margin-right: 2rem;
}

#tema4 h1 {
  margin-bottom: 1rem;
  padding-top: 100px;
}

#tema4 {
  background-image: url(/tema4bg.png);
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

#animation {
  margin-bottom: 2rem;
}
#proces,
#diagrammer {
  background-color: rgba(253, 197, 246, 0.185);
  padding: 1rem;
}

@media (min-width: 720px) {
  /*TEMA INTRO*/
  .section_wrapper {
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  /*H1 og brødteksten skal begge dele centrere sig på den vertikale akse*/
  #tema4 h1,
  .section_wrapper p {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-top: 0;
  }

  .section_wrapper2 {
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .section_wrapper2 a img {
    grid-column: 2;
  }
  .section_wrapper3 {
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }

  #proces h2,
  #diagrammer h2 {
    grid-column: 2;
    display: flex;
    justify-content: center;
  }

  #asset h2,
  .section_wrapper4,
  .skaerme,
  .section_wrapper5 {
    grid-column: 2;
  }

  .section_wrapper4 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  .skaerme {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .section_wrapper5 {
    display: grid;
    margin: 1rem;
    gap: 20px;
  }

  .section_wrapper5 img {
    display: flex;
    justify-content: center;
  }
}

#link:hover {
  opacity: 50%;
}

.txt h2,
#hp h2 {
  margin-bottom: 1.2rem;
}

#proces h2,
#asset h2 {
  margin: 1rem;
}
.section_wrapper3 img {
  border: 1px solid #0348c9;
  margin: 0.1rem;
}

@media (max-width: 720px) {
  .section_wrapper4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 2rem;
  }
}

.section_wrapper4 img {
  padding: 1rem;
}

.skaerme img {
  margin-bottom: 2rem;
}
