@font-face {
  font-family: "Michroma";
  src: url(fonts/michroma-regular-webfont.woff2) format("woff2");
}

#omsplash,
.boot {
  margin-left: 2rem;
  margin-right: 2rem;
}

#tema2 h1 {
  margin-bottom: 1rem;
  padding-top: 100px;
}

#tema2 {
  /* background-color: rgba(253, 197, 246, 0.185); */
  background-image: url(/tema2bg2.png);
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

@media (min-width: 720px) {
  /*TEMA INTRO*/
  .section_wrapper {
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  /*H1 og brødteksten skal begge dele centrere sig på den vertikale akse*/
  #tema2 h1,
  .section_wrapper p {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-top: 0;
  }

  /*STYLETILE*/
  /*Section_wrapper for styletile, med selve styletile i 2. colonne*/
  .section_wrapper2 {
    grid-column: 2;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
  }
  /*Teksten om styletile skal centrere sig på den vertikale akse*/
  #omst {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /*SPLASH-SECTION*/
  /*Kode, så billede og tekst ligger sig ved siden af hinanden*/
  .section_wrapper3 {
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;
  }

  #omsplash {
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .boot {
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  #pic img {
    width: 60%;
    display: flex;
    justify-content: center;
  }
}

/* Hr = den streg der er over overskrifterne i styletile*/
hr {
  margin-bottom: 1rem;
}

/*----------Om styletile------------*/
#omst {
  margin-bottom: 2rem;
}

#omst h2,
#splash h2,
#omsplash p {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

/*----------Styletile--------*/

#st {
  margin-top: 1rem;
  background-color: rgba(253, 197, 246, 0.185);
  padding: 2rem;
}

#st h1,
#st h2,
#st h3 {
  font-family: "Michroma", sans-serif;
  margin-bottom: 0.5rem;
}

#st p {
  margin-bottom: 2rem;
}

#st h1 {
  color: #ff00dc;
}

#st h2 {
  color: #ac01f0;
}

#st h3 {
  color: #6607be;
}

#st a {
  text-decoration: none;
  color: #ff00dc;
}

#st a:hover {
  color: #001475;
}

#st ul li {
  list-style: none;
}

.ikon {
  width: 20%;
}

/*----------Splash-section-----------*/

#splash img {
  margin-top: 2rem;
}

#splash {
  background-color: rgba(253, 197, 246, 0.185);
  margin-top: 2rem;
  padding-bottom: 2rem;
}

.boot {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#stoevle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#stoevle img {
  margin-bottom: 1rem;
}

#pic {
  display: flex;
  justify-content: center;
}
